@{ ViewBag.Title = "About"; }

@section head {
    
}

@section NavBarButtons
{
    <li><a href="../Index">Home</a></li>
    <li><a href="../Houses">Houses</a></li>
    <li><a href="../AddHouse">Add a House</a></li>
    <li class="active"><a href="../About">About</a></li>
}


<body>

    <div class="jumbotron">
        <h2>About</h2>
        <p>The IMobile is a site for a service managed by ISEL pupils</p>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Contacts</div>
        <div class="panel-body">
            <b>Sede:</b> Portugal <br>
            <b>Telefone: </b> 811234567 <br>
            <b>Email:</b> abcdef@outlook.com

        </div>
    </div>
    
</body>