@using IMobileDataModel
@model Testimonial


    <h3 class="list-group-item-heading">@(Model.author) / 
    @for (int i = 0; i < 5; ++i)
    {
        if (i < Model.stars)
        {
            <span class="glyphicon glyphicon-star"></span>
        }
        else
        {
            <span class="glyphicon glyphicon-star-empty"></span>
        }
    }
    <small> at @(Model.day)</small>
    </h3>

    <p class="list-group-item-text">@(Model.description)</p>



